<!DOCTYPE html>
<html>
<head lang="zh">
    <meta name="format-detection" content="telephone=no" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="Public/css/course.css">
    <title>广州现代医院-摄影学堂</title>
</head>
<body>
    <div id="wapper" class="wrapper bg">
        <div clas="headimg"><img src="../Public/images/course/head.jpg"></div>
        <div class="line"><span></span></div>
        <div class="inde-box">
            <div class="index-btn l2">
                <p>
                    <a href="http://bbs.vivo.com.cn/thread-1402408-1-1.html"><img src="../Public/images/course/btn.png" /></a><span>摄影基础</span></p>
                <p>
                    <a href="http://www.fsbus.com/danfanrumen/18499.html"><img src="../Public/images/course/btn.png" /></a><span>构图基础</span></p>
                <p>
                    <a href="http://www.nphoto.net/news/2009-11/04/0af819280b6f968e.shtml"><img src="../Public/images/course/btn.png" /></a><span>构图技巧</span></p>
            </div>
            <div class="index-btn l2">
                <p>
                    <a href="http://www.missyuan.com/thread-587458-1-1.html"><img src="../Public/images/course/btn.png" /></a><span>室内摄影</span></p>
                <p>
                    <a href="http://jingyan.baidu.com/article/c74d60007d184f0f6b595d65.html"><img src="../Public/images/course/btn.png" /></a><span>背景虚化</span></p>
                <p>
                    <a href="http://www.chuanke.com/course/_%E6%91%84%E5%BD%B1_____.html?statistics_channel_id=1702&statistics_uid=13"><img src="../Public/images/course/btn.png" /></a><span>视频教程</span></p>
            </div>
        </div>
        <footer class="index-footer">
            <p>摄影学堂</p>
            <p style="font-size: 1.2rem;"><a href="http://www.greatfar.cn">企划部技术支持</a></p>
        </footer>
    </div>
    <script>
        var w = document.documentElement.clientWidth;
        var h = document.documentElement.clientHeight;
        var id = document.getElementById("wapper");
        id.style.width = w + 'px';
        id.style.minHeight = h + 'px';
    </script>
</body>