<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>见证你我身边的感动</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="./Public/css/base.css" />
        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="Public/css/index.css">
    </head>
    <body>
        <div id="wrap">
            <div class="container">
                <div class="row">
                    <img src="./Public/images/header.png" class="img-responsive" />
                    <!--<div class="header-box"></div>-->
                </div>
                <div class="upNav">
                    <div class="row">
                        <div class="col-xs-3 col-xs-offset-1">
                            <a href="?c=Image&a=upload">
                                <p class="fu">
                                <img src="./Public/images/btn_2.png" class="img-responsive" />
                                <img src="./Public/images/xuan_1.png" class="img-responsive change" />
                                </p>
                                <p>作品上传</p>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="?c=Image&a=ranklist">
                                <p style="margin-bottom:3px;"  class="fu">
                                <img src="./Public/images/btn_4.png" class="img-responsive" />
                                <img src="./Public/images/xuan_2.png" class="img-responsive change" />
                                </p>
                                <p>大众评选</p>
                            </a>
                        </div>
                        <div class="col-xs-3">
                            <a href="?c=Image&a=ranklist">
                                <p  class="fu">
                                <img src="./Public/images/btn_6.png" class="img-responsive" />
                                <img src="./Public/images/xuan_3.png" class="img-responsive change" />
                                </p>
                                <p>排行榜</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="bottomNav">
                    <div class="row">
                        <div class="col-xs-3">
                            <a href="?c=Competition&a=notification">
                            <p  class="fu">
                            <img src="./Public/images/btn_3.png" class="img-responsive" />
                            <img src="./Public/images/xuan_4.png" class="img-responsive change" />
                            </p>
                            <p>大赛通知</p>
                            </a>
                        </div>
                        <div class="col-xs-3">
                            <a href="?c=User&a=myImg">
                            <p  class="fu">
                            <img src="./Public/images/btn_1.png" class="img-responsive" />
                            <img src="./Public/images/xuan_6.png" class="img-responsive change" />
                            </p>
                            <p>作品维护</p>
                            </a>
                        </div>
                        <div class="col-xs-3">
                            <a href="http://v.gzxdyy.com/">
                            <p  class="fu">
                            <img src="./Public/images/btn_5.png" class="img-responsive" />
                            <img src="./Public/images/xuan_5.png" class="img-responsive change" />
                            </p>

                            <p>现代医院</p>
                            </a>
                        </div>
                        <div class="col-xs-3">
                            <a href="?c=Competition&a=course">
                            <p  class="fu">
                            <img src="./Public/images/btn_7.png" class="img-responsive" />
                            <img src="./Public/images/xuan_7.png" class="img-responsive change" />
                            </p>
                            <p>摄影学堂</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>