<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>我的作品</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="./Public/css/base.css" />
        <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="./Public/css/myImg.css">
    </head>
    <body>
        <div id="wrap">
            <div class="container top-bar">
                <div class="title">修改作品信息</div>
                <div class="tips">
                    <?php
                        //如果没有查询结果，显示“你还没有作品 请上传你的作品”
                        if(mysql_num_rows($ret_sqldata)==0){
                            echo "你还没有作品 请上传你的作品";
                        }else{
                            echo "点击需要修改的作品 即可进入修改页面";
                        }
                    ?>
                </div>
            </div>
            <div class="container" id="listBox">  
  		<?php
                    $order = 1;
                    while ($arr_photoinfo=mysql_fetch_array($ret_sqldata)) {
                        echo "<a href='?c=Image&a=modify&id=".$arr_photoinfo[img_id]."'>";
                        echo "<div class='cellBox'>";
                        echo "<div class='row'>";
                        echo "<div class='col-xs-5 pr_2 rel'>";
                        echo "<div class='pai qian'>$order</div>";
                        echo "<img src='upload/$arr_photoinfo[img_file_name]' class='img-responsive' />";
                        echo "</div>";
                        echo "<div class='col-xs-7 pl_2'>";
                        echo "<div class='row mb4'>";
                        echo "<div class='col-xs-6 pr_2'>";
                        echo "<strong>编号：</strong>$arr_photoinfo[img_id]";
                        echo "</div>";
                        echo "<div class='col-xs-6 pl_2 red'>";
                        echo "<strong>票数：</strong>$arr_photoinfo[ticket]";
                        echo "</div>";
                        echo "</div>";
                        echo "<p><strong>作者：</strong>$arr_photoinfo[name]</p>";
                        echo "<p><strong>标题：</strong>$arr_photoinfo[title]</p>";
                        echo "<p style='overflow:hidden;text-overflow:ellipsis;'><nobr><strong>简介：</strong>$arr_photoinfo[brief]</nobr></p>";
                        echo "</div></div></div></a>";
                        $order++;
                    }
                ?>
            </div>   
            <div class="nodata text-center red mb_14"></div>
            <div id="footer">
                <p class="text-center">主办：广州现代医院</p>
                <p class="text-center">承办：广州现代医院企划部</p>
            </div>
        </div>
    </body>
</html>