<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>大赛通知</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="../Public/css/base.css" />
    </head>
    <body>
        <div id="wrap">
            <div class="container">
                <div id="box">
                    <img src="../Public/images/notification/1.jpg" class="img-responsive" />
                    <img src="../Public/images/notification/2.jpg" class="img-responsive" />
					<img src="../Public/images/notification/3.jpg" class="img-responsive" />
                </div>
                <div id="footer">
                    <p class="text-center">主办：广州现代医院</p>
                    <p class="text-center">承办：广州现代医院企划部</p>
                </div>
            </div>
        </div>
    </body>
</html>